{% extends 'user/base.html' %}
{% block content %} 
{% load crispy_forms_tags %}
<form method="POST">
  {% csrf_token %}
  <h1 class="mb-4">Sign In</h1>
  <div class="sign-in-form">
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
    {% endif %}
    {{form|crispy}}
    <button class="btn btn-success mt-2" type="submit">Submit</button>
    <h6 class="mt-2" style="text-align: center;">Don't have an account? <a href="{% url 'sign_up' %}" style="text-decoration: none;">Sign Up</a></h6>
  </div>
  </form>
{% endblock content %}
